:root {
  --object-opacity: 0.1;
  --object-color: #23682f;
  --object-oppacity-hover: 0.2;
  --position-color: rgba(129, 129, 129, 0.557);
  --path-color: #0f766e;
}

.object {
  stroke-opacity: 0;
  opacity: var(--object-opacity);
  fill: var(--object-color);
  filter: blur(40px) brightness(1.2);
  clip-path: circle(50% at center);
  transition: opacity 0.3s ease, filter 0.3s ease;
}
.object-hover {
  stroke-opacity: 0;
  opacity: var(--object-oppacity-hover);
  cursor: pointer;
  filter: blur(120px) brightness(1.2);
  clip-path: circle(90% at center);
}

.position {
  fill: var(--position-color);
  transition: fill 0.3s ease; /* Füge eine sanfte Übergangseffekt hinzu */
}

.position-active {
  opacity: 1;
  fill: #0f766e;
}

.path {
  stroke: var(--path-color);
  stroke-width: 1;
  opacity: 0;
  border-radius: 0px;
}

.path-once {
  opacity: 1;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-dasharray: 2338.5;
  stroke-dashoffset: 2338.5;
  animation: dash2 2s linear forwards;
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}

.path-active {
  opacity: 1;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 10;
  animation: march 3s linear infinite reverse;
}

@keyframes march {
  to {
    stroke-dashoffset: 120;
  }
}
